<!-- secara default -->
<!-- expres melindungi file statis, (video,img,dan lain"sebagai asset web site kita,) -->
<!-- cara mengakses asset tersebuut kita harus memberitahu express bahwa ada asset yang harus di buat public -->
<div class="container mt-4">
  <div class="row">
    <div class="col text-center">
      <img src="img/images.jpeg" alt="" />
      <div class="display-4 mb-3">Jajang Marujang</div>
      <p class="lead">Fullstack Developer</p>
    </div>
  </div>
</div>
